<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" #myForm="ngForm">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
                    <input #myEmail="ngModel" class="input100" type="text" name="email" placeholder="Email" email ngModel required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input " data-validate = "Please enter password">
                    <input #myPwd="ngModel" class="input100" type="password" name="pass" placeholder="Password" ngModel required>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn flex-col-c p-t-50 p-b-40">
                    <button class="login100-form-btn" [disabled]="myForm.invalid">
                        Sign in
                    </button>
                    <div *ngIf="myForm.invalid" style="margin: 15px; color: red;">{{disabledBtn}}</div>
                </div>

            </form>
        </div>
    </div>
</div>